{% extends 'projects/_base.html' %}{% load humanize %}

{% block content %}
<article id="content"></article>
{% comment %}
    {% for project in projects %}
    <div class="card">
        {% if project.next_itemdate %}
            <span class="next-date">{{ project.next_itemdate.naturaldate }}</span>
        {% endif %}
        <h2>{{ project.name }}</h2>
        {% if project.next_itemdate %}
            <p><strong>Next:</strong> {{ project.next_itemdate.name }}</p>
        {% endif %}
    </div>
    {% endfor %}
{% endcomment %}
{% endblock %}

{% block body_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.ractivejs.org/latest/ractive.min.js"></script>

<script id="project-list-template" type="text/ractive">
    <section class="project-list">{% verbatim %}
        {{#projects}}
        <div class="card">
            {{#next_itemdate}}
                <span class="next-date">{{ next_itemdate.itemdate }}</span>
            {{/next_itemdate}}
            <h2>{{ name }}</h2>
            {{#next_itemdate}}
                <p><strong>Next:</strong> {{ next_itemdate.name }}</p>
            {{/next_itemdate}}
        </div>
        {{/projects}}{% endverbatim %}
    </section>
</script>

<script>
var ractive = new Ractive({
    el: 'content',
    template: '#project-list-template',
    noIntro: true, // disable transitions during initial render
    data: {}
});

var ProjectList = Ractive.extend({
    oninit: function() {
        this.load();
    },
    load: function() {
        $.getJSON('/api/1.0/projects/')
            .done(function(data) {
                ractive.set('projects', data.objects)
            })
    }
});

var projects = new ProjectList();
</script>
{% endblock %}
